
pre, p {
    font-size: 5em;
    color: #FE7F88;
    background-color: transparent;
}

div {
  background-image: url("https://ezegm.github.io/cv/background_065.jpg");
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
}

p {
  background-image: none;
}

.catsandstars {
  background-image:  url("https://ezegm.github.io/cv/background_065.jpg");

  background-color: transparent;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
}
